<link rel="stylesheet" href="css/bootstrap.min.css">
{{yield}}
<div class="row">
	<div class="col-6">
		{{notification-container position="top-right"}}
		<div class="row">
			<div class="col">
				<label for="file-upload" >Choose CSV file:<img src="images/doc.png" height="24" width="24"></label>
				<input id="file-upload" onchange={{action "loadUpload"}} type="file">
			</div>
		</div>
		<div id="base">
		<div class="row">
			<div class="col">
				<label for="chartype" >Chart type:</label>
					<select id="chartype" onchange={{action "loaddateformat"}}>
						<option value="column">Bar</option>
						<option value="stacked">Stacked Bar</option>
						<option value="line">Line</option>
						<option value="area">Area</option>
						<option value="scatter">Scatter</option>
						<option value="Pie">Pie</option>
						<option value="date1">Area(date)</option>
						<option value="date2">Line(date)</option>
					</select>
			</div>
		</div>
		
		<div class="row">
			<div class="col">
				<label for="title" >Title</label>
				<input type="text" id="title">
			</div>
		</div>
		
		<div class="row">
			<div class="col">
				<label for="Labels">Label</label>
				<select id="Labels" onchange={{action 'add' 'Labels'}}>
					<option selected value="select">select</option>
				</select>
				<div id="datecheck">
				<label for="dateformat">Date format</label>
				<select id="dateformat">
					<option selected value="select">select</option>
					<option value="2">dd/MM/yyyy</option>
					<option value="1">MM/dd/yyyy</option>
					<option value="0">yyyy/MM/dd</option>
					
					<option value="2">dd/MM/yyyy HH:mm:ss</option>
					<option value="1">MM/dd/yyyy HH:mm:ss</option>
					<option value="0">yyyy/MM/dd HH:mm:ss</option>
					
					<option value="5">dd-MM-yyyy</option>
					<option value="4">MM-dd-yyyy</option>
					<option value="3">yyyy-MM-dd</option>
					
					<option value="5">dd-MM-yyyy HH:mm:ss</option>
					<option value="4">MM-dd-yyyy HH:mm:ss</option>
					<option value="3">yyyy-MM-dd HH:mm:ss</option>
					
					<option value="8">dd.MM.yyyy</option>
					<option value="7">MM.dd.yyyy</option>
					<option value="6">yyyy.MM.dd</option>
					
					<option value="8">dd.MM.yyyy HH:mm:ss</option>
					<option value="7">MM.dd.yyyy HH:mm:ss</option>
					<option value="6">yyyy.MM.dd HH:mm:ss</option>			
				</select>
				</div>
			</div>
		</div>
		
		<div class="row">
			<div class="col">
				<label for="Groups">Group by:</label>
					<select id="Groups" onchange={{action 'add' 'Groups'}}>
					<option selected value="select">select</option>
					</select>
			</div>
		</div>
		
		<div class="row">
			<div class="col">
				<label for="Values">Value:</label>
				<select id="Values" onchange={{action 'add' 'Values'}}>
				<option selected value="select">select</option>
				<option value="c">Count</option>
				</select>
				<label for="avg">Average:</label>
				<input style="margin:4px;" type="checkbox" id="avg">
			</div>
		</div>
		
		<div class="row">
			<div class="col">
				<button stye="margin:8px;" class="btn btn-success" onclick={{action 'validatePoints'}}>Create</button>
			</div>
		</div>	
		</div>
	</div>
	
	<div class="col-6">
		<div id="show">	
		<div class="row">
			<div class="col-md-4">
				<p id="user">Label</p>
					<ul>	
					{{#each Labels as |lab|}}
						<li><a onclick={{action 'remove' lab 'Labels'}}>{{lab}}</a></li>
					{{/each}}
					</ul>
			</div>
			<div class="col-md-4">
				<p id="user">Groups</p>
					<ul>	
					{{#each Groups as |gps|}}
						<li><a onclick={{action 'remove' gps 'Groups'}}>{{gps}}</a></li>
					{{/each}}
					</ul>
			</div>
			<div class="col-md-4">
				<p id="user">Value</p>
					<ul>	
					{{#each Values as |vls|}}
						<li><a onclick={{action 'remove' vls 'Values'}}>{{vls}}</a></li>
					{{/each}}
					</ul>
			</div>
		</div>
		</div>
	</div>
</div>
<div id="chartspace" style="width:1200px;height:400px;"></div>
